body {
    text-align: center;
    background-color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.875em;
}

#root {
    margin-left: auto;
    margin-right: auto;
    text-align: center;   
    width: 100%;
}

.main-container {
    /* background-color: #ffffff; */
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

.filterable-product-table {
    border: 1px solid #ffd700;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    background-color: #a9a9a9;
    padding: 1em;
    display: inline-block;
}

.search-bar {
    padding: 1em;
    /* border: 1px solid #0000ff; */
    background-color: #333333;
    color: #ffffff;
}

.product-table {
    /* border: 1px solid #00ff00; */
    padding: 1em;
    margin-top: 1em;
    text-align: left;
}

.product-header-row, .product-category-row {
    font-weight: bold;
}

.product-category-row {
    margin-top: .5em;
}

.in-stock {
    color: inherit;
}

.out-of-stock {
    color: #ff0000;
}

.price {
    float: right;
    text-align: right;
}
